<!-- the section for the head begin here  -->
<%- include("../utilities/head") %> 
<!-- the section for head ends here -->


<body>
 


    <div class="page-wrapper"> 

    <!-- here starts the section for heardr --> 
<%- include("../utilities/header") %> 
<!-- here ends the section for hearder -->

<!-- here starts the main section  -->

<%- body %> 












<!-- here starts the section for footer -->
<%- include("../utilities/footer") %> 
<!-- here ends  the section for footer -->

<!-- here starts the section forthe scripts -->
<%- include("../utilities/scripts") %> 
<!-- here ends the section for the scripts -->

</body>
    
        
</html>
